body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-btn {
  background: #ff9900;
  padding: 5px 34px;
  border-radius: 10px;
}

.nav-btn a {
  color: white !important;
}


.btn-finno {
  border: 1px solid #ff9900;
  background-color: #ff9900;
  color: white;
}

.btn-finno:hover {
background-color: #f58220
}

.login-wrapper {
  margin: 19% auto;
  width: 445px;
  padding: 40px;
  border: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  direction: rtl;

}
.login-wrapper input {
  margin-bottom: 10px;
}

.logo {
  width: 96%;
}

.checkbox {
      text-align: center;
  color: #505050;
}
.error {
  display: none;
  text-align: center;
  color: white;
  background: #e23d39;
  margin-top: 14px;
  border-radius: 5px;
  padding: 2px;
}
.power {
  color: #444444;
      text-align: center;
  direction: ltr;
    font-size: 22px;
}
.power img {
  height: 41px;
}
.power .heart {
  height: 26px;
}

.banner-text-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text {
  font-size: 43px;
  color: white;
}

.sec-colom {
  text-align: center;
}



.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 40%; */
  margin: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h6 {
  background-color: #92ebec;
  padding: 15px;
  color: #616161;
}

.card img {
  height: 75px;
  margin: 4px;
}

.approved-icone {
  padding-bottom: 20px;
}